body {
    background-color: black;
}

div#first p {
    background-color: #ff0000;
}

img {
    width: 100%;
    z-index: 90;
}

.grid-item {
    text-align: center;
    min-height: 200px;
}

.container{
    margin-top: 5%;
}

a{
    display:block;
    z-index:100;
}

#title-area{
    text-align:center;
}

#tp-link-image{
    margin-top:25%;
}

div.jumbotron{
    padding: 1rem;
}